footer {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../../images/Hero.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}

footer h3 {
    font-family: 'Booter - Zero Zero';
    font-size: 4rem;
    text-align: center;
    margin: 5%;
    color: #fff;
    font-weight: normal;
}

footer div {
    display: flex;
    align-items: center;
    max-height: 200px;
}

footer ul {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding-right: 5%;
    list-style-type: none;
}
footer li{
    padding: 0 1em;
}

footer img {
    width: 30px;
    height: 30px;
}