@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("../../Fonts/Booter - Zero Zero.woff") format("woff"),
         url("../../Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

header ul {
    margin: 0;
}

header li {
    display: inline-block;
    padding: 1em 5%;
}

header li :nth-child(1) {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

header li :nth-child(1):hover {
    background-color: rgba(255, 255, 255, .3);
}

header {
    text-align: center;
    font-size: 1.1rem;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hero {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../../images/Hero.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 125px;
    
}

.hero h1{
    text-align: center;
    margin: 0;
    font-size: 9rem;
    font-family: 'Booter - Zero Zero';
    font-weight: normal;
    color: #fff;
    margin-top: 20px;
}


#getAlbumButton {
    border: solid 1px rgb(12, 197, 243);
    background-color: transparent;
    padding: 20px 60px;
    margin-left: 15%;
    margin-top: 20px;
    font-size: 1.2em;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#getAlbumButton:hover {
    background-color: rgb(188, 244, 248, .3);
    border-width: 1.5px;
}

#playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(12, 197, 243);
    color: rgb(12, 197, 243);
    background-color: transparent;
    border-radius: 50%;
    font-size: 3em;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
    cursor: pointer;
}

#playButton:hover {
    background-color: rgb(188, 244, 248, .3);
    border-width: 2.5px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}